<html>
    <script src="https://kit.fontawesome.com/cc6b65f71c.js" crossorigin="anonymous"></script>
  <head>
    <title>Studuopi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <%= link_to root_path do %>
                <span>Studuopi</span>
                <% end %>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if customer_signed_in? %>
                <li class="nav-item">
                    <%#= link_to items_path, class:"nav-link" do %>
                    <span aria-hidden="true">商品一覧</span>
                    <%# end %>
                </li>
                <li class="nav-item">
                    <%#= link_to customers_my_page_path, class:"nav-link" do %>
                    <span aria-hidden="true">マイページ</span>
                    <%# end %>
                </li>
                <li class="nav-item">
                    <%#= link_to cart_items_path, class:"nav-link" do %>
                    <span aria-hidden="true">カート</span>
                    <%# end %>
                </li>
                <li class="nav-item">
                    <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link" do %>
                    <span class="fas fa-sign-out-alt" aria-hidden="true">logout</span>
                    <% end %>
                </li>
            <% elsif admin_signed_in? %>
                <li class="nav-item">
                    <i ></i>
                        <%#= link_to admin_top_path, class:"nav-link" do %>
                        <span class="fas fa-home" aria-hidden="true">注文履歴一覧</span>
                        <%# end %>
                </li>
                <li class="nav-item">

                        <%#= link_to admin_customers_path, class:"nav-link" do %>
                        <span aria-hidden="true">会員一覧画面</span>
                        <%# end %>
                </li>
                <li class="nav-item">
                        <%= link_to admin_items_path, class:"nav-link" do %>
                        <span aria-hidden="true">商品一覧</span>
                        <% end %>
                </li>
                <li class="nav-item">
                        <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link" do %>
                        <span class="fas fa-sign-in-alt" aria-hidden="true">admin_logout</span>
                        <% end %>

                </li>
            <% end %>
            </ul>
        </div>
    </div>

</nav>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    </header>
    <br>
      <%= yield %>
  </body>

</html>